<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.adminlj.mapper.MapMapper">
    <select id="getDistrictCenterTude" resultType="com.lezhi.adminlj.pojo.ShDistrict">
      SELECT
            d.district_id districtId,
            d.district_name district,
            d.center_lng centerLongitude,
            d.center_lat centerLatitude,
            count(a.STD_ADDR_ID) hdUserNum
        FROM
            ocn_address.of_district d
        LEFT JOIN hsrjop.intelligence_hd_addr_info a ON d.district_id = of_district_id WHERE 1=1
        <if test="districtId != null">
           AND d.district_id = #{districtId}
        </if>
        AND d.is_available = 1 GROUP BY a.of_district_id
    </select>
    <select id="getDistrictBoundryInfo" parameterType="java.lang.Integer" resultType="com.lezhi.adminlj.pojo.ShDistrict">
        SELECT latitude centerLatitude,longitude centerLongitude FROM hsrjop.lianjia_boundary_data WHERE new_district_id  = #{districtId};
    </select>
    <select id="showtown" parameterType="java.lang.Integer" resultType="com.lezhi.adminlj.pojo.Town">
        SELECT
            t.town_id townId,
            t.town_name townName,
            t.district_id districtId,
            t.latitude latitude,
            t.longitude longitude,
            count(a.STD_ADDR_ID) hdUserNum,
            d.center_lng cenLon,
            d.center_lat cenLat
        FROM
            ocn_address.of_town t
        LEFT JOIN hsrjop.intelligence_hd_addr_info a ON t.town_id = a.of_town_id
        inner JOIN ocn_address.of_district d ON t.district_id = d.district_id
        WHERE 1 = 1
        <if test="districtId != null">
            and t.new_district_id = #{districtId}
        </if>
        <if test="townId != null">
         AND   t.town_id = #{townId}
        </if>
        AND t.longitude is not null
        GROUP BY
            a.of_town_id HAVING COUNT(a.STD_ADDR_ID) != 0
    </select>
    <select id="neighborhood" parameterType="java.lang.Integer" resultType="com.lezhi.adminlj.pojo.Neighborhood">
        SELECT
            t.neighborhood_id neighborhoodId,
            t.neighborhood_name neighborhoodName,
            t.town_id town_id,
            t.lng lng,
            t.lat lat,
            count(a.STD_ADDR_ID) hdUserNum,
        ot.longitude cenLon,
        ot.latitude cenLat
        FROM
            ocn_address.of_neighborhood t
        LEFT JOIN hsrjop.intelligence_hd_addr_info a ON t.neighborhood_id = a.of_neighborhood_id
        LEFT JOIN ocn_address.of_town ot ON ot.town_id = t.town_id
        WHERE 1= 1
        <if test="townId != null">
            AND  t.town_id = #{townId}
        </if>
        <if test="neighborhoodId != null and '' != neighborhoodId " >
            AND t.neighborhood_id = #{neighborhoodId}
        </if>
        AND t.lng is not null
        GROUP BY
            a.of_neighborhood_id HAVING COUNT(a.STD_ADDR_ID) != 0
    </select>
    <select id="residence" parameterType="java.lang.String" resultType="com.lezhi.adminlj.pojo.Residence">
      SELECT
            t.id residenceId,
            t.residence_name residenceName,
            t.of_neighborhood_id neighborhoodId,
            t.lon lon,
            t.lat lat,
            t.residence_addr residenceAddr,
            count(a.STD_ADDR_ID) hdUserNum
        FROM
            ocn_address.of_residence t
        LEFT JOIN hsrjop.intelligence_hd_addr_info a ON t.id = a.residence_id
        WHERE 1=1
        <if test="neighborhoodId != null and '' != neighborhoodId " >
          and  t.of_neighborhood_id = #{neighborhoodId}
        </if>
        <if test="residenceId != null and '' != residenceId">
            AND  t.id = #{residenceId}
        </if>
        AND t.lon IS NOT NULL and t.of_neighborhood_id is not null
        GROUP BY
            a.residence_id HAVING COUNT(a.STD_ADDR_ID) != 0
    </select>
</mapper>