<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.statistics.mapper.DataPlatformMapper">
    <select id="selectVistHis" resultType="com.lezhi.statistics.pojo.MacVisitHistoryInfo">
        SELECT mac, channel_no channelNo, sum(pv) pv, unix_timestamp(begin_time)*1000 firstVisitTime,
        unix_timestamp(end_time)*1000 lastVisitTime, sum(total_top) totalTop FROM
        <choose>

        <when test="null != residenceId and '' != residenceId">
            channel_visit_summary WHERE residence_id = #{residenceId}
        </when>
        <when test="null != blockId and '' != blockId">
            channel_visit_summary WHERE block_id= #{blockId}
        </when>
        <when test="null != districtId and '' != districtId">
            channel_visit_summary WHERE district_id = #{districtId}
        </when>
        <otherwise>
            channel_visit_summary WHERE 1= 1
        </otherwise>
        </choose>
        <if test="null != channelNo and '' != channelNo">
            AND channel_no = #{channelNo}
        </if>
        AND begin_time &gt;= FROM_UNIXTIME(#{startTime},'%Y-%m-%d %H:%i:%s')
        AND end_time &lt;= FROM_UNIXTIME(${startTime+span},'%Y-%m-%d %H:%i:%s')
        GROUP BY mac
    </select>

    <select id="realtime" resultType="com.lezhi.statistics.pojo.RealTimeSummaryObj">
        SELECT id, sum(uv) uv,sum(pv) pv,sum(nv) nv,unix_timestamp(refresh_time)*1000 refreshTime FROM
        <choose>
            <when test="residenceId != null and '' != residenceId">
                realtime_summary_residence WHERE residence_id = #{residenceId}
            </when>
            <when test="blockId != null and '' != blockId">
                realtime_summary_block WHERE block_id = #{blockId}
            </when>
            <when test="districtId != null and '' != districtId">
                realtime_summary_district WHERE district_id = #{districtId}
            </when>
            <otherwise>
                realtime_summary_city WHERE 1= 1
            </otherwise>
        </choose>
        AND period = #{period}
        <if test="channelNo != null and channelNo != 'all'">
            and channel_no = #{channelNo}
        </if>
    </select>

    <update id="putDownRealtimeSummary">
        UPDATE
        <choose>
            <when test="residenceId != null and '' != residenceId">
                realtime_summary_residence
            </when>
            <when test="blockId != null and '' != blockId">
                realtime_summary_block
            </when>
            <when test="districtId != null and '' != districtId">
                realtime_summary_district
            </when>
            <otherwise>
                realtime_summary_city
            </otherwise>
        </choose>
        set refresh_time = #{now} where id = #{id}
    </update>

    <select id="current" resultType="com.lezhi.statistics.pojo.TrendObj">
        SELECT 	unix_timestamp(begin_time)*1000 timeBegin,
        unix_timestamp(end_time)*1000 timeEnd,
        uv,
        pv,
        nv,
        avg_top avgTop FROM
        <choose>
        <when test="scale == 60000">
            <if test="null != residenceId and '' != residenceId">
                realtime_trend_60m_residence WHERE residence_id = #{residenceId}
                <if test="null != channelNo and '' != channelNo">
                   AND channel_no = #{channelNo}
                </if>
            </if>
            <if test="null != blockId and '' != blockId">
                realtime_trend_60m_block WHERE block_id = #{blockId}
                <if test="null != channelNo and '' != channelNo">
                    AND channel_no = #{channelNo}
                </if>
            </if>
            <if test="null != districtId and '' != districtId">
                realtime_trend_60m_district WHERE district_id = #{districtId}
                <if test="null != channelNo and '' != channelNo">
                    AND channel_no = #{channelNo}
                </if>
            </if>
            <if test="null == districtId and null == blockId and null == residenceId">
                realtime_trend_60m_district WHERE 1=1
                <if test="null != channelNo and '' != channelNo">
                    AND channel_no = #{channelNo}
                </if>
            </if>
        </when>
        <otherwise>
            <if test="null != residenceId and '' != residenceId">
                realtime_trend_24h_residence WHERE residence_id = #{residenceId}
                <if test="null != channelNo and '' != channelNo">
                    AND channel_no = #{channelNo}
                </if>
            </if>
            <if test="null != blockId and '' != blockId">
                realtime_trend_24h_block WHERE block_id = #{blockId}
                <if test="null != channelNo and '' != channelNo">
                    AND channel_no = #{channelNo}
                </if>
            </if>
            <if test="null != districtId and '' != districtId">
                realtime_trend_24h_district WHERE district_id = #{districtId}
                <if test="null != channelNo and '' != channelNo">
                    AND channel_no = #{channelNo}
                </if>
            </if>
            <if test="null == districtId and null == blockId and null == residenceId">
                realtime_trend_24h_district WHERE 1=1
                <if test="null != channelNo and '' != channelNo">
                    AND channel_no = #{channelNo}
                </if>
            </if>
        </otherwise>
        </choose>
        AND FROM_UNIXTIME(#{startTime},'%Y-%m-%d %H:%i:%s') &lt;= begin_time AND
        FROM_UNIXTIME(${startTime+span},'%Y-%m-%d %H:%i:%s') &gt;= end_time
        GROUP BY begin_time DESC
    </select>

    <select id="his_current" resultType="com.lezhi.statistics.pojo.TrendObj">
        SELECT 	unix_timestamp(begin_time)*1000 timeBegin,
        unix_timestamp(end_time)*1000 timeEnd,
        uv,
        pv,
        nv,
        avg_top avgTop FROM
        <choose>
            <when test="scale == 3600000">
                <if test="null != residenceId and '' != residenceId">
                    his_trend_hour_residence WHERE residence_id = #{residenceId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != blockId and '' != blockId">
                    his_trend_hour_block WHERE block_id = #{blockId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != districtId and '' != districtId">
                    his_trend_hour_district WHERE district_id = #{districtId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null == districtId and null == blockId and null == residenceId">
                    his_trend_hour_district WHERE 1=1
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                AND FROM_UNIXTIME(#{startTime},'%Y-%m-%d %H:%i:%s')   &lt;= begin_time AND
                FROM_UNIXTIME(${startTime+span},'%Y-%m-%d %H:%i:%s') &gt;= end_time
            </when>
            <otherwise>
                <if test="null != residenceId and '' != residenceId">
                    his_trend_day_residence WHERE residence_id = #{residenceId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != blockId and '' != blockId">
                    his_trend_day_block WHERE block_id = #{blockId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != districtId and '' != districtId">
                    his_trend_day_district WHERE district_id = #{districtId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null == districtId and null == blockId and null == residenceId">
                    his_trend_day_district WHERE 1=1
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                AND FROM_UNIXTIME(#{startTime},'%Y-%m-%d')   &lt;= begin_time AND
                FROM_UNIXTIME(${startTime+span},'%Y-%m-%d') &gt;= end_time
            </otherwise>
        </choose>
        GROUP BY begin_time DESC
    </select>

    <select id="contrastive" resultType="com.lezhi.statistics.pojo.TrendObj">
        SELECT unix_timestamp(begin_time)*1000 timeBegin,
        unix_timestamp(end_time)*1000 timeEnd,
        uv,
        pv,
        nv,
        avg_top avgTop FROM
        <choose>
            <when test="scale == 60000">
                <if test="null != residenceId and '' != residenceId">
                    realtime_trend_60m_residence WHERE residence_id = #{residenceId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != blockId and '' != blockId">
                    realtime_trend_60m_block WHERE block_id = #{blockId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != districtId and '' != districtId">
                    realtime_trend_60m_district WHERE district_id = #{districtId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null == districtId and null == blockId and null == residenceId">
                    realtime_trend_60m_district WHERE 1=1
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
            </when>
            <otherwise>
                <if test="null != residenceId and '' != residenceId">
                    realtime_trend_24h_residence WHERE residence_id = #{residenceId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != blockId and '' != blockId">
                    realtime_trend_24h_block WHERE block_id = #{blockId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != districtId and '' != districtId">
                    realtime_trend_24h_district WHERE district_id = #{districtId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null == districtId and null == blockId and null == residenceId">
                    realtime_trend_24h_district WHERE 1=1
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
            </otherwise>
        </choose>
        AND FROM_UNIXTIME(#{contrastiveStartTime},'%Y-%m-%d %H:%i:%s') &lt;= begin_time AND
        FROM_UNIXTIME(${contrastiveStartTime+span},'%Y-%m-%d %H:%i:%s') &gt;= end_time
        GROUP BY begin_time DESC
    </select>

    <select id="his_contrastive" resultType="com.lezhi.statistics.pojo.TrendObj">
        SELECT 	unix_timestamp(begin_time)*1000 timeBegin,
        unix_timestamp(end_time)*1000 timeEnd,
        uv,
        pv,
        nv,
        avg_top avgTop FROM
        <choose>
            <when test="scale == 3600000">
                <if test="null != residenceId and '' != residenceId">
                    his_trend_hour_residence WHERE residence_id = #{residenceId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != blockId and '' != blockId">
                    his_trend_hour_block WHERE block_id = #{blockId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != districtId and '' != districtId">
                    his_trend_hour_district WHERE district_id = #{districtId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null == districtId and null == blockId and null == residenceId">
                    his_trend_hour_district WHERE 1=1
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                AND FROM_UNIXTIME(#{contrastiveStartTime},'%Y-%m-%d %H:%i:%s') &lt;= begin_time AND
                FROM_UNIXTIME(${contrastiveStartTime+span},'%Y-%m-%d %H:%i:%s') &gt;= end_time
            </when>
            <otherwise>
                <if test="null != residenceId and '' != residenceId">
                    his_trend_day_residence WHERE residence_id = #{residenceId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != blockId and '' != blockId">
                    his_trend_day_block WHERE block_id = #{blockId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null != districtId and '' != districtId">
                    his_trend_day_district WHERE district_id = #{districtId}
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                <if test="null == districtId and null == blockId and null == residenceId">
                    his_trend_day_district WHERE 1=1
                    <if test="null != channelNo and '' != channelNo">
                        AND channel_no = #{channelNo}
                    </if>
                </if>
                AND FROM_UNIXTIME(#{contrastiveStartTime},'%Y-%m-%d') &lt;= begin_time AND
                FROM_UNIXTIME(${contrastiveStartTime+span},'%Y-%m-%d') &gt;= end_time
            </otherwise>
        </choose>

        GROUP BY begin_time DESC
    </select>

    <select id="summary" resultType="com.lezhi.statistics.pojo.ChannelSummaryObj">
        SELECT
        c.channel_no channelNo,
        c.pv pv,
        d.nv nv,
        c.uv uv
        FROM
        (
        SELECT
        a.channel_no,
        SUM(a.pv) pv,
        COUNT(DISTINCT a.mac) uv
        FROM
        statistics.channel_visit_summary a
        WHERE 1=1
        AND a.begin_time &gt;= FROM_UNIXTIME(#{startTime},'%Y-%m-%d %H:%i:%s')
        AND a.end_time &lt;= FROM_UNIXTIME(${startTime+span},'%Y-%m-%d %H:%i:%s')
        GROUP BY
        a.channel_no
        ) c,
        (
        SELECT
        COUNT(mac) nv,
        channel_no
        FROM
        statistics.channel_visit_summary a
        WHERE
        a.mac NOT IN (
        SELECT
        b.mac
        FROM
        statistics.new_visitor b
        )
        AND a.begin_time &gt;= FROM_UNIXTIME(#{startTime},'%Y-%m-%d %H:%i:%s')
        AND a.end_time &lt;= FROM_UNIXTIME(${startTime+span},'%Y-%m-%d %H:%i:%s')
        GROUP BY
        a.channel_no
        ) d
        WHERE
        c.channel_no = d.channel_no
        <if test="null != channelNo and '' != channelNo">
            AND c.channel_no = #{channelNo}
        </if>
    </select>

    <insert id="inert" parameterType="java.util.Map">
        INSERT INTO statistics.realtime_trend_24h_${type} (
        `channel_no`,
        `begin_time`,
        `end_time`,
        `uv`,
        `pv`,
        `nv`,
        `avg_top`,
        <if test="type == 'block'">
            `block_id`
        </if>
        <if test="type == 'district'">
            `district_id`
        </if>
        <if test="type == 'residence'">
            `residence_id`
        </if>
        )
        VALUES
        (
        #{Map.channelNo},
        #{Map.beginTime},
        #{Map.endTime},
        #{Map.uv},
        #{Map.pv},
        #{Map.nv},
        #{Map.avgTop},
        <if test="type == 'block'">
            #{Map.blockId}
        </if>
        <if test="type == 'district'">
            #{Map.districtId}
        </if>
        <if test="type == 'residence'">
            #{Map.residenceId}
        </if>
        );
    </insert>

    <insert id="inert_trend">
        INSERT INTO statistics.realtime_trend_60m_${type} (
        `channel_no`,
        `begin_time`,
        `end_time`,
        `uv`,
        `pv`,
        `nv`,
        `avg_top`,
        <if test="type == 'block'">
            `block_id`
        </if>
        <if test="type == 'district'">
            `district_id`
        </if>
        <if test="type == 'residence'">
            `residence_id`
        </if>
        )
        VALUES
        (
        #{Map.channelNo},
        #{Map.beginTime},
        #{Map.endTime},
        #{Map.uv},
        #{Map.pv},
        #{Map.nv},
        #{Map.avgTop},
        <if test="type == 'block'">
            #{Map.blockId}
        </if>
        <if test="type == 'district'">
            #{Map.districtId}
        </if>
        <if test="type == 'residence'">
            #{Map.residenceId}
        </if>
        )
    </insert>

    <insert id="inert_trend_day" parameterType="java.util.Map">
        INSERT INTO statistics.his_trend_day_${type} (
        `channel_no`,
        `begin_time`,
        `end_time`,
        `uv`,
        `pv`,
        `nv`,
        `avg_top`,
        <if test="type == 'block'">
            `block_id`
        </if>
        <if test="type == 'district'">
            `district_id`
        </if>
        <if test="type == 'residence'">
            `residence_id`
        </if>
        )
        VALUES
        (
        #{Map.channelNo},
        #{Map.beginTime},
        #{Map.endTime},
        #{Map.uv},
        #{Map.pv},
        #{Map.nv},
        #{Map.avgTop},
        <if test="type == 'block'">
            #{Map.blockId}
        </if>
        <if test="type == 'district'">
            #{Map.districtId}
        </if>
        <if test="type == 'residence'">
            #{Map.residenceId}
        </if>
        )
    </insert>

    <select id="selectLog" resultType="com.lezhi.statistics.pojo.Log">
        SELECT
            log.channel,
            log.mac,
            MAX(log.timestamp) TIMESTAMP,
            log.session,
            m.district_id districtId,
            m.block_id blockId,
            m.residence_id residenceId
        FROM
	    `api_logs_shfctv` log LEFT JOIN mac_info m ON log.mac = m.mac
        WHERE
        log.timestamp &lt;= FROM_UNIXTIME(#{endTime}, '%Y-%m-%d %H:%i:%s')
        AND log.timestamp &gt;=  FROM_UNIXTIME(#{startTime}, '%Y-%m-%d %H:%i:%s') GROUP BY log.mac,log.`session` ORDER BY log.`timestamp` desc

       /* SELECT log.channel,
            log.mac,
            MAX(log.timestamp) TIMESTAMP,
            log.session,
            m.district_id,
        m.block_id,
        m.residence_id
        FROM
	`api_logs_shfctv_01` log LEFT JOIN mac_info m ON log.mac = m.mac
        WHERE `timestamp` &gt;= '2017-03-14 00:00:00' AND `timestamp` &lt;= '2017-03-14 01:00:00' GROUP BY mac,`session` ORDER BY `timestamp` desc;*/
    </select>
    <select id="selectLogBySession" resultType="com.lezhi.statistics.pojo.Log">
      SELECT log_id logId,channel,mac,`timestamp` timeStamp,session FROM api_logs_shfctv WHERE session = #{log.session} AND timestamp  &lt; #{log.timeStamp} AND timestamp &gt;
       DATE_ADD(#{log.timeStamp},
       INTERVAL -2 HOUR)
    </select>
    <select id="selectUv" resultType="java.lang.Integer" parameterType="com.lezhi.statistics.pojo.Log">
        SELECT count(log_id) from (SELECT
        log.log_id,
        log.channel,
        log.mac,
        log.timestamp TIMESTAMP,
        log.session,
        m.district_id districtId,
        m.block_id blockId,
        m.residence_id residenceId
        FROM
        api_logs_shfctv log LEFT JOIN mac_info m ON log.mac = m.mac
        WHERE
        log.`timestamp` &lt;= FROM_UNIXTIME(#{endTime}, '%Y-%m-%d %H:%i:%s')
        AND log.`timestamp` &gt;=  FROM_UNIXTIME(#{startTime}, '%Y-%m-%d %H:%i:%s') ) temp WHERE temp.channel = #{log.channel}
        <if test="type == 'district'">
            AND temp.districtId = #{log.districtId}
        </if>
        <if test="type == 'block'">
            AND temp.blockId = #{log.blockId}
        </if>
        <if test="type == 'residence'">
            AND temp.residenceId = #{log.residenceId}
        </if>
    </select>
    <select id="selectNv" resultType="java.lang.Integer" parameterType="com.lezhi.statistics.pojo.Log">
         SELECT count(DISTINCT temp.mac) from (SELECT
        log.log_id,
        log.channel,
        log.mac,
        log.timestamp TIMESTAMP,
        log.session,
        m.district_id districtId,
        m.block_id blockId,
        m.residence_id residenceId
        FROM
        api_logs_shfctv log LEFT JOIN mac_info m ON log.mac = m.mac
        WHERE
        log.`timestamp` &lt;= FROM_UNIXTIME(#{endTime}, '%Y-%m-%d %H:%i:%s')
        AND log.`timestamp` &gt;=  FROM_UNIXTIME(#{startTime}, '%Y-%m-%d %H:%i:%s') ) temp WHERE temp.channel = #{log.channel}
        <if test="type == 'district'">
            AND temp.districtId = #{log.districtId}
        </if>
        <if test="type == 'block'">
            AND temp.blockId = #{log.blockId}
        </if>
        <if test="type == 'residence'">
            AND temp.residenceId = #{log.residenceId}
        </if>
    </select>
    <select id="selectPv" resultType="java.lang.String" parameterType="com.lezhi.statistics.pojo.Log">
        SELECT
        temp.mac
        FROM
       (SELECT
        log.log_id,
        log.channel,
        log.mac,
        log.timestamp TIMESTAMP,
        log.session,
        m.district_id districtId,
        m.block_id blockId,
        m.residence_id residenceId
        FROM
        api_logs_shfctv log LEFT JOIN mac_info m ON log.mac = m.mac
        WHERE
        log.`timestamp` &lt;= FROM_UNIXTIME(#{endTime}, '%Y-%m-%d %H:%i:%s')
        AND log.`timestamp` &gt;=  FROM_UNIXTIME(#{startTime}, '%Y-%m-%d %H:%i:%s') ) temp
        WHERE
        temp.channel = #{log.channel}
        <if test="type == 'district'">
            AND temp.districtId = #{log.districtId}
        </if>
        <if test="type == 'block'">
            AND temp.blockId = #{log.blockId}
        </if>
        <if test="type == 'residence'">
            AND temp.residenceId = #{log.residenceId}
        </if>
        AND temp.mac NOT IN (SELECT mac FROM new_visitor)
        GROUP BY
        temp.mac
    </select>
    <select id="selectDistrictId" parameterType="com.lezhi.statistics.pojo.Log" resultType="java.lang.Integer">
        SELECT district_id  FROM `mac_info` WHERE mac = #{log.mac};
    </select>

    <select id="selectSameSession" resultType="com.lezhi.statistics.pojo.Log">
       SELECT log_id logId,channel,mac,`timestamp` timeStamp,session FROM api_logs_shfctv WHERE timestamp  &gt; #{log.timestamp} AND mac = #{log.mac}
      and channel = #{log.channle} AND  session = #{log.session}  ORDER BY `timestamp` DESC
</select>
    <select id="selectBlockId" resultType="java.lang.Integer">
        SELECT block_id from mac_info WHERE  mac = #{log.mac}
    </select>
    <select id="selectResidenceId" resultType="java.lang.Integer">
        select residence_id from mac_info WHERE mac = #{log.mac}
    </select>
    <select id="selectTimeBySameMacAndSession" resultType="com.lezhi.statistics.pojo.Log">
        SELECT
        log_id logId,
        channel,
        mac,
        min(`timestamp`) TIMESTAMP,
        SESSION
        FROM
        api_logs_shfctv
        WHERE
        TIMESTAMP &lt; #{log.timeStamp} AND `timestamp`  &gt;  FROM_UNIXTIME(#{startTime}, '%Y-%m-%d %H:%i:%s')
        AND mac = #{log.mac}
        AND channel = #{log.channel} AND  session = #{log.session}
    </select>
    <insert id="saveDis" parameterType="com.lezhi.statistics.pojo.HisTrendInfo">
        INSERT INTO `statistics`.his_trend_hour_${type} (
        `channel_no`,
        `begin_time`,
        `end_time`,
        `uv`,
        `pv`,
        `nv`,
        `avg_top`,
        <if test="type == 'district'">
            `district_id`
        </if>
        <if test="type == 'block'">
            block_id
        </if>
        <if test="type == 'residence'">
            residence_id
        </if>
        )
        VALUES
        (
        #{his.channelNo},
        from_unixtime(#{his.timeBegin}),
        from_unixtime(#{his.timeEnd}),
        #{his.uv},
        #{his.pv},
        #{his.nv},
        #{his.totalTop}/#{his.uv},
        <if test="type == 'district'">
            #{his.districtId}
        </if>
        <if test="type == 'block'">
            #{his.blockId}
        </if>
        <if test="type == 'residence'">
            #{his.residenceId}
        </if>
        )
    </insert>
    <insert id="saveDis_day" parameterType="com.lezhi.statistics.pojo.HisTrendInfo">
        INSERT INTO `statistics`.his_trend_day_${type} (
        `channel_no`,
        `begin_time`,
        `end_time`,
        `uv`,
        `pv`,
        `nv`,
        `avg_top`,
        <if test="type == 'district'">
            `district_id`
        </if>
        <if test="type == 'block'">
            block_id
        </if>
        <if test="type == 'residence'">
            residence_id
        </if>
        )
        VALUES
        (
        #{his.channelNo},
        from_unixtime(#{his.timeBegin}),
        from_unixtime(#{his.timeEnd}),
        #{his.uv},
        #{his.pv},
        #{his.nv},
        #{his.totalTop}/#{his.uv},
        <if test="type == 'district'">
            #{his.districtId}
        </if>
        <if test="type == 'block'">
            #{his.blockId}
        </if>
        <if test="type == 'residence'">
            #{his.residenceId}
        </if>
        )
    </insert>

    <insert id="updateRealTimeTrendInfoByMinuteBlock">
        INSERT INTO statistics.realtime_trend_60m_block
        (id,channel_no,begin_time,end_time,uv,pv,nv,avg_top,block_id)
        SELECT NULL,a.channel,#{startTime},#{endTime},count(DISTINCT(a.mac)),count(a.log_id),count(c.id),NULL,b.block_id
        FROM statistics.api_logs_shfctv a
        INNER JOIN statistics.mac_info b ON a.mac = b.mac
        LEFT JOIN statistics.new_visitor c ON b.mac = c.mac
        WHERE a.timestamp &gt;= #{startTime} and a.timestamp &lt;= #{endTime}
        GROUP BY b.block_id,a.channel
    </insert>

    <insert id="updateRealTimeTrendInfoByMinuteDistrict">
        INSERT INTO statistics.realtime_trend_60m_district
        (id,channel_no,begin_time,end_time,uv,pv,nv,avg_top,district_id)
        SELECT NULL,a.channel,#{startTime},#{endTime},count(DISTINCT(a.mac)),count(a.log_id),count(c.id),NULL,b.district_id
        FROM statistics.api_logs_shfctv a
        INNER JOIN statistics.mac_info b ON a.mac = b.mac
        LEFT JOIN statistics.new_visitor c ON b.mac = c.mac
        WHERE a.timestamp &gt;= #{startTime} and a.timestamp &lt;= #{endTime}
        GROUP BY b.district_id,a.channel
    </insert>

    <insert id="updateRealTimeTrendInfoByMinuteResidence">
        INSERT INTO statistics.realtime_trend_60m_residence
        (id,channel_no,begin_time,end_time,uv,pv,nv,avg_top,residence_id)
        SELECT NULL,a.channel,#{startTime},#{endTime},count(DISTINCT(a.mac)),count(a.log_id),count(c.id),NULL,b.residence_id
        FROM statistics.api_logs_shfctv a
        INNER JOIN statistics.mac_info b ON a.mac = b.mac
        LEFT JOIN statistics.new_visitor c ON b.mac = c.mac
        WHERE a.timestamp &gt;= #{startTime} and a.timestamp &lt;= #{endTime}
        GROUP BY b.residence_id,a.channel
    </insert>

    <delete id="deleteRealTimeTrendInfoByMinute">
        DELETE FROM statistics.realtime_trend_60m_block WHERE begin_time &lt; #{stime};
        DELETE FROM statistics.realtime_trend_60m_residence WHERE begin_time &lt; #{stime};
        DELETE FROM statistics.realtime_trend_60m_residence WHERE begin_time &lt; #{stime};
    </delete>

    <insert id="updateRealTimeTrendInfoByHourBlock">
        INSERT INTO statistics.realtime_trend_24h_block
        (id,channel_no,begin_time,end_time,uv,pv,nv,avg_top,block_id)
        SELECT NULL,a.channel,#{startTime},#{endTime},count(DISTINCT(a.mac)),count(a.log_id),count(c.id),NULL,b.block_id
        FROM statistics.api_logs_shfctv a
        INNER JOIN statistics.mac_info b ON a.mac = b.mac
        LEFT JOIN statistics.new_visitor c ON b.mac = c.mac
        WHERE a.timestamp &gt;= #{startTime} and a.timestamp &lt;= #{endTime}
        GROUP BY b.block_id,a.channel
    </insert>

    <insert id="updateRealTimeTrendInfoByHourDistrict">
        INSERT INTO statistics.realtime_trend_24h_district
        (id,channel_no,begin_time,end_time,uv,pv,nv,avg_top,district_id)
        SELECT NULL,a.channel,#{startTime},#{endTime},count(DISTINCT(a.mac)),count(a.log_id),count(c.id),NULL,b.district_id
        FROM statistics.api_logs_shfctv a
        INNER JOIN statistics.mac_info b ON a.mac = b.mac
        LEFT JOIN statistics.new_visitor c ON b.mac = c.mac
        WHERE a.timestamp &gt;= #{startTime} and a.timestamp &lt;= #{endTime}
        GROUP BY b.district_id,a.channel
    </insert>

    <insert id="updateRealTimeTrendInfoByHourResidence">
        INSERT INTO statistics.realtime_trend_24h_residence
        (id,channel_no,begin_time,end_time,uv,pv,nv,avg_top,residence_id)
        SELECT NULL,a.channel,#{startTime},#{endTime},count(DISTINCT(a.mac)),count(a.log_id),count(c.id),NULL,b.residence_id
        FROM statistics.api_logs_shfctv a
        INNER JOIN statistics.mac_info b ON a.mac = b.mac
        LEFT JOIN statistics.new_visitor c ON b.mac = c.mac
        WHERE a.timestamp &gt;= #{startTime} and a.timestamp &lt;= #{endTime}
        GROUP BY b.residence_id,a.channel
    </insert>

    <delete id="deleteRealTimeTrendInfoByHour">
        DELETE FROM statistics.realtime_trend_24h_block WHERE begin_time &lt; #{stime};
        DELETE FROM statistics.realtime_trend_24h_residence WHERE begin_time &lt; #{stime};
        DELETE FROM statistics.realtime_trend_24h_residence WHERE begin_time &lt; #{stime};
    </delete>

</mapper>