<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.statistics.mapper.DataPlatformMapper">
    <select id="selectVisitHis" resultType="com.lezhi.statistics.pojo.MacVisitHistoryInfo">
        SELECT mac, channel_no channelNo, sum(pv) pv, begin_time firstVisitTime,
        end_time lastVisitTime, sum(total_top) totalTop FROM
        <choose>

        <when test="null != residenceId and '' != residenceId">
            channel_visit_summary WHERE residence_id = #{residenceId}
        </when>
        <when test="null != blockId and '' != blockId">
            channel_visit_summary WHERE block_id= #{blockId}
        </when>
        <when test="null != districtId and '' != districtId">
            channel_visit_summary WHERE district_id = #{districtId}
        </when>
        <otherwise>
            channel_visit_summary WHERE 1= 1
        </otherwise>
        </choose>
        <if test="null != channelNo and '' != channelNo">
            AND channel_no = #{channelNo}
        </if>
        AND begin_time &gt;= #{startTime}
        AND end_time &lt;= #{endTime}
        GROUP BY mac
    </select>

    <select id="channelSummary" resultType="com.lezhi.statistics.pojo.ChannelSummaryObj">
        SELECT
        c.channel_no channelNo,
        c.pv pv,
        d.nv nv,
        c.uv uv
        FROM
        (
            SELECT
            a.channel_no,
            SUM(a.pv) pv,
            COUNT(DISTINCT a.mac) uv
            FROM
            statistics.channel_visit_summary a
            WHERE 1=1
            AND a.begin_time &gt;= #{startTime}
            AND a.end_time &lt;= #{endTime}
            GROUP BY
            a.channel_no
        ) c LEFT JOIN
        (
            SELECT
            COUNT(mac) nv,
            channel_no
            FROM
            statistics.channel_visit_summary a
            WHERE
            a.mac NOT IN (
                SELECT
                b.mac
                FROM
                statistics.new_visitor b WHERE first_visit_time &lt;= #{startTime}
            )
            AND a.begin_time &gt;=#{startTime}
            AND a.end_time &lt;= #{endTime}
            GROUP BY
            a.channel_no
        ) d
        ON
        c.channel_no = d.channel_no
        <if test="null != channelNo and '' != channelNo">
            WHERE c.channel_no = #{channelNo}
        </if>
    </select>

</mapper>