<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.statistics.mapper.LogMapper">

    <insert id="insertSummary" parameterType="com.lezhi.statistics.pojo.ChannelVisitSummary">
        INSERT INTO channel_visit_summary (
			district_id,
			block_id,
			residence_id,
			channel_no,
			mac,
			pv,
			begin_time,
			end_time,
			total_top
		)
		VALUES
		<foreach collection="buildings" item="channelVisitSummary" index="index" separator=",">
			(#{channelVisitSummary.districtId},
			#{channelVisitSummary.blockId},
			#{channelVisitSummary.residenceId},
			#{channelVisitSummary.channelNo},
			#{channelVisitSummary.mac},
			#{channelVisitSummary.pv},
			#{channelVisitSummary.beginTime},
			#{channelVisitSummary.endTime},
			#{channelVisitSummary.totalTop})
		</foreach>
    </insert>
    
</mapper>