<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.statistics.mapper.MacMapper">
	<resultMap id="BaseResultMap" type="com.lezhi.statistics.pojo.MacInfoObj">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="mac" property="mac" jdbcType="VARCHAR"/>
        <result column="residence_id" property="residenceId" jdbcType="INTEGER"/>
        <result column="residence_name" property="residenceName" jdbcType="VARCHAR"/>
        <result column="building_id" property="buildingId" jdbcType="INTEGER"/>
        <result column="building_no" property="buildingNo" jdbcType="VARCHAR"/>
        <result column="lon" property="lon" jdbcType="DOUBLE"/>
        <result column="lat" property="lat" jdbcType="DOUBLE"/>
        <result column="district_id" property="districtId" jdbcType="INTEGER"/>
        <result column="district" property="district" jdbcType="VARCHAR"/>
        <result column="block_id" property="blockId" jdbcType="INTEGER"/>
        <result column="block" property="block" jdbcType="VARCHAR"/>
        <result column="serial_no" property="serialNo" jdbcType="VARCHAR"/>
        <result column="res_code" property="resCode" jdbcType="VARCHAR"/>
        <result column="res_name" property="resName" jdbcType="VARCHAR"/>
        <result column="res_category" property="resCategory" jdbcType="VARCHAR"/>
    </resultMap>
	<select id="getMacInfoList" resultMap="BaseResultMap">
        SELECT
			a.*, b.district_name district,
			c.block_name block,
			d.residence_name,
			e.building_no
		FROM
			statistics.mac_info a
		LEFT JOIN ocn_address.of_district b ON a.district_id = b.district_id
		LEFT JOIN df_estate_db_v2.sh_block c ON a.block_id = c.block_id
		LEFT JOIN ocn_address.of_residence d ON a.residence_id = d.id
		LEFT JOIN ocn_address.of_building e ON a.building_id = e.id
		WHERE 1=1
        <if test="type == 1">
            AND a.district_id = #{id}
        </if>
        <if test="type == 2">
            AND a.block_id = #{id}
        </if>
        <if test="type == 3">
            AND a.residence_id = #{id}
        </if>
        LIMIT #{start},#{size}
    </select>
    
    <select id="checkId" resultType="java.lang.Integer">
        SELECT
			count(*)
		FROM
		<if test="type == 1">
            ocn_address.of_district
        </if>
        <if test="type == 2">
            ocn_address.of_town
        </if>
        <if test="type == 3">
            ocn_address.of_residence
        </if>
        WHERE
        <if test="type == 1">
        	district_id = #{id}
        </if>
        <if test="type == 2">
            town_id = #{id}
        </if>
        <if test="type == 3">
            id = #{id}
        </if>
    </select>
    
    <select id="totalCount" resultType="java.lang.Integer">
        SELECT
			count(*)
		FROM
			statistics.mac_info a
		WHERE 1=1
        <if test="type == 1">
            AND a.district_id = #{id}
        </if>
        <if test="type == 2">
            AND a.block_id = #{id}
        </if>
        <if test="type == 3">
            AND a.residence_id = #{id}
        </if>
    </select>
    
    <select id="getMacInfo" resultMap="BaseResultMap">
        SELECT
			a.*, b.district_name district,
			c.block_name block,
			d.residence_name,
			e.building_no
		FROM
			statistics.mac_info a
		LEFT JOIN ocn_address.of_district b ON a.district_id = b.district_id
		LEFT JOIN df_estate_db_v2.sh_block c ON a.block_id = c.block_id
		LEFT JOIN ocn_address.of_residence d ON a.residence_id = d.id
		LEFT JOIN ocn_address.of_building e ON a.building_id = e.id
		WHERE
			a.mac = #{mac}
		LIMIT 0,1
    </select>

    <select id="getMacVisitLog" resultType="com.lezhi.statistics.pojo.MacVisitLogInfo">
        SELECT
		  a.mac,a.channel_no as channelNo,a.district_id as districtId,a.block_id as blockId,a.residence_id as residenceId
		  ,unix_timestamp(a.create_time) time,b.district_name as districtName,c.block_name as blockName
		  ,d.residence_name as residenceName
		FROM
			statistics.mac_visit_log a
		LEFT JOIN ocn_address.of_district b ON a.district_id = b.district_id
		LEFT JOIN df_estate_db_v2.sh_block c ON a.block_id = c.block_id
		LEFT JOIN ocn_address.of_residence d ON a.residence_id = d.id
		WHERE 1=1
		<if test="mac != null and channelNo != ''">
            AND a.mac = #{mac}
        </if>
        <if test="null != channelNo and '' != channelNo">
            AND a.channel_no = #{channelNo}
        </if>
        AND a.create_time &gt;= FROM_UNIXTIME(#{startTime},'%Y-%m-%d %H:%i:%s')
        AND a.create_time &lt;= FROM_UNIXTIME(#{endTime},'%Y-%m-%d %H:%i:%s')
        <if test="null != residenceId and '' != residenceId">
            AND a.residence_id = #{residenceId}
        </if>
        <if test="null != blockId and '' != blockId">
            AND a.block_id= #{blockId}
        </if>
        <if test="null != districtId and '' != districtId">
            AND a.district_id = #{districtId}
        </if>
    </select>
</mapper>