<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.statistics.mapper.SummaryMapper">
	<resultMap id="BaseResultMap" type="com.lezhi.statistics.pojo.SummaryInfo">
        <id column="district_id" property="districtId" jdbcType="INTEGER"/>
        <result column="district_name" property="districtName" jdbcType="VARCHAR"/>
        <result column="lon" property="lon" jdbcType="DOUBLE"/>
        <result column="lat" property="lat" jdbcType="DOUBLE"/>
        <result column="uv" property="uv" jdbcType="INTEGER"/>
        <result column="pv" property="pv" jdbcType="INTEGER"/>
        <result column="nv" property="nv" jdbcType="INTEGER"/>
        <result column="avg_top" property="avgTop" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="BlockResultMap" type="com.lezhi.statistics.pojo.SummaryInfo">
        <id column="block_id" property="blockId" jdbcType="INTEGER"/>
        <result column="block_name" property="blockName" jdbcType="VARCHAR"/>
        <result column="lon" property="lon" jdbcType="DOUBLE"/>
        <result column="lat" property="lat" jdbcType="DOUBLE"/>
        <result column="uv" property="uv" jdbcType="INTEGER"/>
        <result column="pv" property="pv" jdbcType="INTEGER"/>
        <result column="nv" property="nv" jdbcType="INTEGER"/>
        <result column="avg_top" property="avgTop" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="ResidenceResultMap" type="com.lezhi.statistics.pojo.SummaryInfo">
        <id column="residence_id" property="residenceId" jdbcType="INTEGER"/>
        <result column="residence_name" property="residenceName" jdbcType="VARCHAR"/>
        <result column="lon" property="lon" jdbcType="DOUBLE"/>
        <result column="lat" property="lat" jdbcType="DOUBLE"/>
        <result column="uv" property="uv" jdbcType="INTEGER"/>
        <result column="pv" property="pv" jdbcType="INTEGER"/>
        <result column="nv" property="nv" jdbcType="INTEGER"/>
        <result column="avg_top" property="avgTop" jdbcType="BIGINT"/>
    </resultMap>
    <select id="getDistrictSummaryList"  resultMap="BaseResultMap">
    	SELECT
			c.pv,
			c.uv,
			d.nv,
			c.district_id,
			c.district_name,
			c.lon,
			c.lat,
			c.avgTop / c.uv avg_top
		FROM
			(
				SELECT
					SUM(a.pv) pv,
					COUNT(DISTINCT a.mac) uv,
					a.district_id,
					b.district_name,
					b.center_lng lon,
					b.center_lat lat,
					SUM(a.total_top) avgTop
				FROM
					statistics.channel_visit_summary a
				LEFT JOIN ocn_address.of_district b ON a.district_id = b.district_id
				WHERE
					a.begin_time &gt;= #{startTime}
				AND a.end_time &lt;= #{endTime}
				<if test="null != channelNo and '' != channelNo">
		           AND a.channel_no = #{channelNo}
		        </if>
				GROUP BY
					a.district_id
			) c
		LEFT JOIN (
			SELECT
				COUNT(mac) nv,
				a.district_id
			FROM
				statistics.channel_visit_summary a
			WHERE
				a.mac NOT IN (
					SELECT
						b.mac
					FROM
						statistics.new_visitor b
					WHERE b.first_visit_time &lt;= #{startTime}
					<if test="null != channelNo and '' != channelNo">
				        AND b.channel_no = #{channelNo}
				    </if>
				)
			AND a.begin_time &gt;= #{startTime}
			AND a.end_time &lt;= #{endTime}
			<if test="null != channelNo and '' != channelNo">
		        AND a.channel_no = #{channelNo}
		    </if>
			GROUP BY
				a.district_id
		) d ON c.district_id = d.district_id
    </select>
    <select id="getBlockSummaryList"  resultMap="BlockResultMap">
    	SELECT
			c.pv,
			c.uv,
			d.nv,
			c.block_id,
			c.block_name,
			c.lon,
			c.lat,
			c.avgTop / c.uv avg_top
		FROM
			(
				SELECT
					SUM(a.pv) pv,
					COUNT(DISTINCT a.mac) uv,
					a.block_id,
					b.block_name,
					b.center_lon lon,
					b.center_lat lat,
					SUM(a.total_top) avgTop
				FROM
					statistics.channel_visit_summary a
				LEFT JOIN df_estate_db_v2.sh_block b ON a.block_id = b.block_id
				WHERE
					a.begin_time &gt;= #{startTime}
				AND a.end_time &lt;= #{endTime}
				AND a.district_id = #{districtId}
				<if test="null != channelNo and '' != channelNo">
		           AND a.channel_no = #{channelNo}
		        </if>
				GROUP BY
					a.block_id
			) c	
		LEFT JOIN (
			SELECT
				COUNT(mac) nv,
				a.block_id
			FROM
				statistics.channel_visit_summary a
			WHERE
				a.mac NOT IN (
					SELECT
						b.mac
					FROM
						statistics.new_visitor b
					WHERE b.first_visit_time &lt;= #{startTime}
					<if test="null != channelNo and '' != channelNo">
				        AND b.channel_no = #{channelNo}
				    </if>
				)
			AND a.begin_time &gt;= #{startTime}
			AND a.end_time &lt;= #{endTime}
			AND a.district_id = #{districtId}
			<if test="null != channelNo and '' != channelNo">
		    	AND a.channel_no = #{channelNo}
		    </if>
			GROUP BY
				a.block_id
		) d ON c.block_id = d.block_id
    </select>
    <select id="getResidenceSummaryList"  resultMap="ResidenceResultMap">
    	SELECT
			c.pv,
			c.uv,
			d.nv,
			c.residence_id,
			c.residence_name,
			c.lon,
			c.lat,
			c.avgTop / c.uv avg_top
		FROM
			(
				SELECT
					SUM(a.pv) pv,
					COUNT(DISTINCT a.mac) uv,
					a.residence_id,
					b.residence_name,
					b.lon,
					b.lat,
					SUM(a.total_top) avgTop
				FROM
					statistics.channel_visit_summary a
				LEFT JOIN ocn_address.of_residence b ON a.residence_id = b.id
				WHERE
					a.begin_time &gt;= #{startTime}
				AND a.end_time &lt;= #{endTime}
				AND a.block_id = #{blockId}
				<if test="null != channelNo and '' != channelNo">
		           AND a.channel_no = #{channelNo}
		        </if>
				GROUP BY
					a.residence_id
			) c	
		LEFT JOIN (
			SELECT
				COUNT(mac) nv,
				a.residence_id
			FROM
				statistics.channel_visit_summary a
			WHERE
				a.mac NOT IN (
					SELECT
						b.mac
					FROM
						statistics.new_visitor b
					WHERE b.first_visit_time &lt;= #{startTime}
					<if test="null != channelNo and '' != channelNo">
				        AND b.channel_no = #{channelNo}
				    </if>
				)
			AND a.begin_time &gt;= #{startTime}
			AND a.end_time &lt;= #{endTime}
			AND a.block_id = #{blockId}
			<if test="null != channelNo and '' != channelNo">
		    	AND a.channel_no = #{channelNo}
		    </if>
			GROUP BY
				a.residence_id
		) d ON c.residence_id = d.residence_id
		LIMIT #{start},#{size}
    </select>
    <select id="totalCount" resultType="java.lang.Integer">
        SELECT
			COUNT(*)
		FROM
			(
				SELECT
					SUM(a.pv) pv,
					COUNT(DISTINCT a.mac) uv,
					a.residence_id,
					b.residence_name,
					b.lon,
					b.lat,
					SUM(a.total_top) avgTop
				FROM
					statistics.channel_visit_summary a
				LEFT JOIN ocn_address.of_residence b ON a.residence_id = b.id
				WHERE
					a.begin_time &gt;= #{startTime}
				AND a.end_time &lt;= #{endTime}
				<if test="null != channelNo and '' != channelNo">
		           AND a.channel_no = #{channelNo}
		        </if>
				GROUP BY
					a.residence_id
			) c	
    </select>
</mapper>