<?xml version="1.0" encoding="UTF-8"?><!--Converted at: Wed Jun 01 10:54:56 CST 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezhi.app.mapper.ResidenceMapper">

    <resultMap id="RMap" type="com.lezhi.app.model.Residence">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="address" property="address" />
    </resultMap>

    <select id="findAll" resultMap="RMap">
        SELECT t.id as id, t.residence_name as name, t.residence_addr as address
        FROM of_residence t
    </select>

    <select id="find" resultMap="RMap">
        SELECT t.id as id, t.residence_name as name, t.residence_addr as address
        FROM of_residence t
        where
        1=2
        <foreach collection="keywords" item="keyword" separator="">
            or t.residence_name like '%${keyword}%' or t.residence_addr like '%${keyword}%'
        </foreach>
    </select>
</mapper>