<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.address.mapper.TaskMapper">
    <select id="getLianjiaResidenceList" resultType="com.address.model.LianjiaResidenceInfo">
         SELECT residence_id residenceId,residence_name residenceName, address FROM sts.lianjia_residence_info;
    </select>
    <select id="selcetResidenceByAddr" resultType="com.address.model.LianjiaResidenceInfo">
         SELECT residence_id residenceId,residence_name residenceName, address FROM sts.lianjia_residence_info WHERE address like '%${addr}%';
    </select>
    <select id="selcetOfResidence" resultType="com.address.model.OfResidence">
        SELECT id ,building_count buildingCount,house_count houseCount FROM ocn_address.of_residence
    </select>
    <select id="selectBuildingCount" resultType="java.lang.Integer">
        SELECT count(*) FROM ocn_address.of_building WHERE  residence_id = #{id}
    </select>
    <select id="selectHouseCount" resultType="java.lang.Integer">
        SELECT count(*) FROM ocn_address.of_house WHERE  residence_id = #{id}
    </select>
    <update id="updateOfResidenceBuildingCount">
        UPDATE ocn_address.of_residence SET building_count = #{buildingCount} WHERE id = #{id}
    </update>
    <update id="updateOfResidenceHouseCount">
        UPDATE ocn_address.of_residence set house_count = #{houseCount} WHERE id = #{id}
    </update>
</mapper>